@model IEnumerable<AAF_Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inicio Inmueble";
}
<div class="form mt-5 container-fluid">
    <nav class="mt-4 navbar navbar-light bg-light">
        <a class="navbar-brand text-info">Inmuebles Actuales</a>
        <form class="form-inline" asp-controller="Inmuebles" asp-action="Index">                    
            <div class="input-group">
                <input class="form-control my-0 py-1 lime-border" type="text" name="dni" maxlength="8" placeholder="Buscar Propietario por DNI" required pattern="[0-9]{8,8}">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" data-toggle="tooltip" data-placement="top" title="Busca un propietario y muestra sus Inmuebles"><i class="fas fa-search"></i></button>
                    <a class="btn btn-outline-success ml-1" asp-action="Create" data-toggle="tooltip" data-placement="top" title="Crear un inmuble con sus atributos"> <i class="fas fa-plus"></i> </a>
                </div>
            </div>
        </form>
    </nav>
    @if (Model != null && Model.Count() != 0)
    {
        <section id="destinos">
            <!-- Inmueble inicio fila(row) -->
            <div class="row scrollspy-example">
                 <!-- Columna inicio inmueble -->
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-3">
                        <!--Insetar inmueble-->
                        <div class="card card-personal mb-4">
                            <!--Inmueble imagen-->
                            <div class="view overlay">
                                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        <!--Inmueble imagen-->
                        <!--Inmueble contenido-->
                        @if (item.EstaPublicado == true)
                        {
                            <div class="dropdown">
                                <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </a>
                                <div class="dropdown-menu w-100 scrollspy-example">
                                    <form class="px-4 py-3">
                                        <div class="form-group">
                                            <p class="mt-2 font-small">
                                                Clasificacion:
                                                <!--Review-->
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Numero de ambiente:
                                                <strong class="blue-text">@Html.DisplayFor(modelItem => item.Ambientes)</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Superficie:
                                                <strong class="blue-text"> @Html.DisplayFor(modelItem => item.Superficie)</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Latitud:
                                                <strong class="blue-text"> @Html.DisplayFor(modelItem => item.Latitud) <i class="fas fa-grip-lines-vertical"></i> </strong>
                                                Longitud:
                                                <strong class="blue-text"> @Html.DisplayFor(modelItem => item.Longitud) </strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Superficie:
                                                <strong class="blue-text"> @Html.DisplayFor(modelItem => item.Superficie)</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Precio:
                                                <strong class="blue-text"> @Html.DisplayFor(modelItem => item.Precio) </strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Espacio:
                                                <strong class="blue-text"> 2 Personas</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="grey-text mt-2 font-small">
                                                Fecha:
                                                <strong class="text-info"> 2/2/2020 </strong>
                                            </p>
                                        </div>
                                    </form>
                                    <hr />
                                    <div class="col">
                                        <input class="form-control" type="search" placeholder="DNI" name="dni" maxlength="8" required pattern="[0-9]{8,8}">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-outline-success ml-1" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <hr />
                                    <a asp-action="Edit" asp-route-id="@item.InmuebleId" class="dropdown-item btn">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.InmuebleId" class="dropdown-item btn w-100">Detalles</a>
                                    <a asp-action="Delete" asp-route-id="@item.InmuebleId" class="dropdown-item btn w-100">Eliminar</a>
                                    <hr />
                                </div>
                            </div>
                        }
                        else
                        {
                            //MODIFICADO
                            <div class="dropdown">
                                <a class="btn btn-danger dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </a>
                                <div class="dropdown-menu w-100"> @*scrollspy-example | Por si se tienen mas datos*@
                                    <form class="px-4 py-3">
                                        <div class="form-group">
                                            <p>
                                                Clasificacion:
                                                <!--Review-->
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                                <i class="fas fa-star text-warning"> </i>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Numero de ambiente:
                                                <strong class="text-success">@Html.DisplayFor(modelItem => item.Ambientes)</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Superficie:
                                                <strong class="text-success"> @Html.DisplayFor(modelItem => item.Superficie)</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Latitud:
                                                <strong class="text-primary"> @Html.DisplayFor(modelItem => item.Latitud) <i class="fas fa-grip-lines-vertical text-danger"></i> </strong>
                                                Longitud:
                                                <strong class="text-primary"> @Html.DisplayFor(modelItem => item.Longitud) </strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Precio:
                                                <strong class="text-success"> @Html.DisplayFor(modelItem => item.Precio) </strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Espacio:
                                                <strong class="text-success"> 2 Personas</strong>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="font-small">
                                                Fecha:
                                                <strong class="text-info"> 2/2/2020 </strong>
                                            </p>
                                        </div>
                                    </form>
                                    <hr />
                                    <div class="input-group ml-3 mr-2 w-auto">
                                        <input class="form-control my-0 py-1 lime-border" type="text" name="dni" maxlength="8" placeholder="Buscar Propietario" required pattern="[0-9]{8,8}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="submit" data-toggle="tooltip" data-placement="top" title="Busca un propietario y muestra sus Inmuebles"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                    <hr />
                                    <a asp-action="Edit" asp-route-id="@item.InmuebleId" class="dropdown-item btn-sm">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@item.InmuebleId" class="dropdown-item btn-sm">Eliminar</a>
                                </div>
                            </div>
                        }

                        <!--Inmueble contenido-->

                    </div>
                    <!--Insetar inmueble-->
                </div>
                } <!--Insetar inmueble-->
                </div>
                <!-- Inmueble cierre fila(row) -->
            </section>
    }
        </div>   


