@model IEnumerable<AAF_Inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inicio Inquilinos";
}
<div class="form mt-5 container-fluid">
    <nav class="mt-4 navbar navbar-light bg-light">
        <a class="navbar-brand text-info">Inquilinos Actuales.</a>
        <form class="form-inline">
            <span class="btn btn-outline-warning">Crear un nuevo inquilino <i class="far fa-hand-point-right"> </i></span>
            <div class="input-group-append ml-1">
                <a class="btn btn-outline-success ml-1" asp-action="Create" data-toggle="tooltip" data-placement="top" title="Crear un inquilino con sus atributos"> <i class="fas fa-plus"></i> </a>
            </div>
        </form>
    </nav>
    <table class="tablasC indexes table table-hover table-dark table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.InquilinoId) </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Apellido)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Dni)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Telefono)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.InquilinoId)</th>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    

                    <td>
                        <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="Primer Grupo">
                            <a asp-action="Edit" asp-route-id="@item.InquilinoId" class=" btn btn-primary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.InquilinoId" class=" btn btn-success">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.InquilinoId" class=" btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
